.mem-logo {
	height: 1em;
   	vertical-align:0em;
}

.paral {
  height: 20em;
  max-height: 40vw;
  max-height: 40dvw;
  background-attachment: fixed;
  background-size: 120vw;
  background-size: 150dvw;
  background-position: top -5vw center;
  background-repeat: no-repeat;
  background-color: #000000;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
/*
.paral p {
font-size: 24px;
color:#f5f5f5;
text-align: center;
line-height: 60px;
}*/
 

/* Heading for Parallax Section */ 
.paral h1 {
color: #f5f5f5;
font-size: 50px;
text-shadow: 3px 3px 6px #050505;
/*padding-top: 60px;*/
/*line-height: 100px;*/
}

.pubimg {
	max-width: 100%;
}

.mem-icon {
  height: 1em;
}

.navb-icon {
  height: 1.8em;
}